:root{
  --bg:#f2e6d8;
  --saida-bg:#f2f2f2;
  --cor-secundaria:#f2cb9b;
  --cor-tercearia:#59271c;
  --fonte-detalhes: "Arial Black", Helvetica, sans-serif;
}

body {
  background-color: var(--bg);
}

.logo {
  width: 200px;
  margin: 3%;
}

.conteudo {
  display: flex;
  justify-content: space-around;
}

.conteudo__texto {
  border: none;
  resize: none;
  background: none;
}

.entrada {
  width: 26.5%;
}

.saida {
  width: 18%;
  background-color: var(--saida-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.copiar {
  border: none;
  border-radius: 15px;
  padding: 7px 30px;
  font-family:var(--fonte-detalhes) ;
  font-weight: 500;
  background-color: var(--cor-secundaria);
  width:50%;

}

#encriptar {
  background-color: var(--cor-secundaria);
  border: none;
  border-radius: 15px;
  padding: 7px 30px;
  color: var(--cor-tercearia);
  font-family: var(--fonte-detalhes);
  font-weight: 500;
}

#descriptar {
  background-color: var(--cor-tercearia);
  border: none;
  border-radius: 15px;
  color: var(--cor-secundaria);
  padding: 7px 30px;
  font-family: var(--fonte-detalhes);
  font-weight: 500;
}
.conteudo__imagem{
  display: flex;
  flex-direction: column;
  padding: .5%;
}
.conteudo__imagem img{
  width: 70px;
}

.conteudo__container{
  display: flex;
}

.mensagem{
  display: block;
  flex-direction: column;
  text-align: center;
}

label {
  display: flex;
  align-items:center;
  position: relative;
  left: 100%;
  margin-bottom: 0.2rem;

}

.conteudo__texto:focus {
  outline: 0;
}

footer{
  text-align: center;
  margin: 1%;
  padding: 10px;
}

.marca{
  width: 100px;
}

.link{
  text-decoration: none;
  color: var(--cor-tercearia);
}
.link:hover{
  color: var(--cor-secundaria);
}
