body {
  /* margin: 10%; */
  background-color: #f2e6d8;
}

.logo {
  width: 200px;
  margin: 3%;
}

.conteudo {
  display: flex;
  /* width: 70vw; */
  /* height: 70vw; */
  /* background-color: #F2F2F2; */
  justify-content: space-around;
}

.conteudo__texto {
  border: none;
  resize: none;
  background: none;
}

.entrada {
  width: 26.5%;
}

.saida {
  width: 18%;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.copiar {
  border: none;
  border-radius: 15px;
  padding: 7px 30px;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-weight: 500;
  background-color: #f2cb9b;
  width:50%;

}

#encriptar {
  background-color: #f2cb9b;
  border: none;
  border-radius: 15px;
  padding: 7px 30px;
  color: #59271c;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-weight: 500;
}

#descriptar {
  background-color: #59271c;
  border: none;
  border-color: #f2cb9b;
  border-radius: 15px;
  color: #f2cb9b;
  padding: 7px 30px;
  font-family: "Arial Black", Helvetica, sans-serif;
  font-weight: 500;
}
.conteudo__imagem{
  display: flex;
  flex-direction: column;
  padding: .5%;
}
.conteudo__imagem img{
  width: 70px;
}

.conteudo__container{
  display: flex;
}

.mensagem{
  display: block;
  flex-direction: column;
  text-align: center;
}

label {
  margin-bottom: 0.2rem;
  position: relative;
}

label:not(:first-of-type) {
  margin-top: 1rem;
}

.on::after {
  content: "Apenas letras minúsculas e sem acento.";
  position: fixed;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  border: none;
}

.conteudo__texto:focus {
  outline: 0;
}

footer{
  text-align: center;
}

.link{
  text-decoration: none;
  color: #59271c;
}
.link:hover{
  color: #f2cb9b;
}
